<% layout('layouts/boilerplate') %> 

<div class="row">
    <div class="col-6 offset-3">
        <div class="card my-2">
            <img class="card-img-top" src="<%= camp.image %> " alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title"><%= camp.title %></h5>
                <h6 class="card-subtitle mb-2 text-muted"><%= camp.location %> </h6>
                <p class="card-text"><%= camp.description %> </p>    
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">$ <%= camp.price %> / night</li>
            </ul>
            <div class="card-body">
                <a class="card-link btn btn-warning" href="/campgrounds/<%= camp._id %>/edit">Edit Camp</a>
                <form class="card-link" style="display: inline;" action="/campgrounds/<%= camp._id %>?_method=DELETE" method="POST">
                    <button class="btn btn-danger" type="submit">Delete Camp</button>
                </form>
            </div>
        </div>
    </div>
</div>