<% layout('layouts/boilerplate') %> 
<link rel="stylesheet" href="/styles/stars.css">

<div class="row">
    <div class="col-md-12">
        <div id='map' class="my-2" style='width: 100%; height: 300px; border-radius: 10px;'></div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="card my-2 shadow-lg p-3 mb-5 bg-white rounded">
            <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <% if(camp.images.length){ %> 
                    <% camp.images.forEach((image, index) => { %> 
                        <div class="carousel-item <%= index === 0 ? 'active' : '' %> ">
                            <img style="height: 400px;" src="<%= image.url %> " class="d-block w-100">
                        </div>
                    <% }) %>
                    <% }else{ %>
                        <div class="carousel-item active %> ">
                            <img style="height: 400px;" src="https://i.imgur.com/JK6XJBj.png" class="d-block w-100">
                        </div>
                    <% } %>   
                </div>
                <% if(camp.images.length > 1){ %> 
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                <% } %> 
            </div>
            <div class="card-body">
                <h5 class="card-title"><%= camp.title %></h5>
                <h6 class="card-subtitle mb-2 text-muted"><%= camp.location %> </h6>
                <h6 class="card-subtitle mb-2">Added by <%= camp.author?.username.toUpperCase() || "Anonymous" %> </h6>
                <p class="card-text"><%= camp.description %> </p>    
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">$ <%= camp.price %> / night</li>
            </ul>
            <% if(currentUser && camp.author.equals(currentUser._id)) { %> 
                <div class="card-body">
                    <a class="card-link btn btn-warning" href="/campgrounds/<%= camp._id %>/edit">Edit Camp</a>
                    <form class="card-link" style="display: inline;" action="/campgrounds/<%= camp._id %>?_method=DELETE" method="POST">
                        <button class="btn btn-danger" type="submit">Delete Camp</button>
                    </form>
                </div>
            <% } %> 
        </div>

    </div>
    <div class="col-md-6">
        <div class="shadow p-3 mb-5 bg-white rounded">
            <h3>Leave a review 💬</h3>
            <form class="needs-validation" action="/campgrounds/<%= camp._id %>/reviews" method="post" novalidate>
                <div>
                    <label class="form-label" for="rating">Rating ⭐️</label>
                    
                    <input class="form-range" min="1" max="5" type="range" name="review[rating]" id="rating">
                </div>
                <div>
                    <label class="form-label" for="review">Review 😎</label>
                    <textarea class="form-control" name="review[body]" id="review" cols="30" rows="3" required></textarea>
                    <div class="invalid-feedback">
                        Can't leave blank!!!
                    </div>
                    <div class="valid-feedback">
                        Looks Good!
                    </div>
                </div>
                <div class="my-3">
                    <button class="btn btn-success" type="submit">Done</button>
                </div>
            </form>
        </div>
        <h3>Reviews &#9733; </h3>
        <div>
                <%  if (camp.reviews.length){ %> 
                    <% for (let review of camp.reviews){ %> 
                        <div class="card my-3 shadow p-3 mb-5 bg-white rounded">
                            <div class="card-body">
                                <p class="starability-result" data-rating="<%= review.rating %>" >
                                    Rated: <%= review.rating %> stars
                                </p>
                                <p><%= review.body %></p>
                                <p><i> -- <%= review.author.username %></i></p>
                            </div>
                            <% if(currentUser && review.author._id.equals(currentUser._id)) {%> 
                                <div class="card-body">
                                    <form action="/campgrounds/<%= camp._id %>/reviews/<%= review._id %>?_method=DELETE" method="POST">
                                        <button class="btn btn-sm btn-danger" type="submit">Delete</button>
                                    </form>
                                </div>
                            <% } %> 
                        </div>
                    <%  } %>
                <% } else {  %>
                    <p>No reviews yet</p>
               <% } %> 
        </div>
    </div>
</div>

<script> 
    const TOKEN = '<%- process.env.MAPBOX_TOKEN %>'
    const coordinates = '<%- camp.geometry.coordinates %>'
    const title = '<%- camp.title %>'
</script>
<script src="/scripts/mapBox.js"></script>