<% layout('layouts/boilerplate') %> 
<link rel="stylesheet" href="/styles/app.css">
<div id='map' class="my-2 cluster-map"></div>
<h1 class="my-2">Campgrounds</h1>
<hr>
<% for (let i = camps.length-1; i >= 0 ; i--){ %>
    <div class="card my-3 shadow p-3 mb-5 bg-white rounded">
        <div class="row">
            <div class="col-md-4">
                <% if(camps[i].images.length){ %> 
                    <img src="<%= camps[i].images[0].url %> " alt="" class="img-fluid">
                <% }else{%> 
                    <img src="https://i.imgur.com/JK6XJBj.png" alt="" class="img-fluid">
                <% } %> 
            </div>
            <div class="col-md-6 m-2">
                <h5 class="card-title"><%= camps[i].title %> </h5>
                <p class="card-text"><%= camps[i].description %></p>
                <p class="card-text">
                    <small class="text-muted"><%= camps[i].location %> </small>
                </p>
                <a class="btn btn-primary" href="/campgrounds/<%= camps[i]._id %>">View <%= camps[i].title%> </a>
            </div>
        </div>
    </div>
<% } %>




<a class="btn btn-success" href="/campgrounds/new">Add new camp</a>

<script> 
    const TOKEN = '<%- process.env.MAPBOX_TOKEN %>';
    const campgrounds = { features: <%- JSON.stringify(camps) %>};
</script>
<script src="/scripts/mapBoxCluster.js"></script>